<div class="success">
<h2>Word: </h2><h3>"<%= @word.get_word %>"</h3>
<h2>Definition Added: </h2><h3>"<%= @definition.get_definition()%>"</h3>
<br>
<div class="link_div"><a class="link" href="/">Dictionary Home</a><br></div>
<div class="link_div2"><a class="link" href="/word/<%=@word.id()%>">Back to word</a></div>
</div>
